{% extends "blank.html" %} 
{% load static %}

{% block content %}
<div class="row m-auto row-cols-1">
    <div class="col">
        <div class="bg-secondary rounded h-100 p-4">
            <h2 class="mb-4">เกี่ยวกับบริษัท</h2>
           
                <div class="testimonial-item text-center">
                    <img class="img-fluid rounded-circle mx-auto mb-4" src="https://prechachang.github.io/resume/img/proF.jpg" style="width: 100px; height: 100px;">
                    <h5 class="mb-1">ตั้งหวังเจ๋ง...!</5>
                    <p>~ •มหาชน• ~</p>
                    <p class="mb-0">Welcome..! To   [ Tang Wang Jeng ]    MaHaChon</p>
                </div>
        

        </div>
        
    </div>
    <div class="col">
        <div class="contact-info d-flex flex-column justify-content-center align-items-center">
            <p><i class="fa fa-user"></i>   Precha Chainara</p>
            <p><i class="fa fa-tag"></i>    นำเข้า Supercar & Brandname</p>
            <p><i class="fa fa-envelope"></i><a hreHouse No.f="mailto:stu6512732106@sskru.ac.th">       stu6512732106@sskru.ac.th</a></p>
            <p><i class="fa fa-phone"></i><a href="tel:+0842832451">    +0842832451</a></p>
            <p><i class="fa fa-map-marker"></i> 120,Prue Yai,Khukhan,sisaket,33140 </p>
            <div class="social" style="scale:2;">
                <a class="" href="https://line.me/ti/p/6RCN1G0Km"><i class="fab fa-line"></i></a>
                <a class="" href="https://www.facebook.com/profile.php?id=100007605662259"><i class="fab fa-facebook-f"></i></a>
                <a class="" href="https://www.instagram.com/cha.___ng/"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>

</div>

{% endblock content %}