{% extends "blank.html" %} {% block content %}
<div class="row">
  <div class="col">
    <div class="bg-secondary rounded h-100 p-4">
      <h6 class="mb-4">providing</h6>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ชื่อ</th>
              <th scope="col">นามสกุล</th>
              <th scope="col">เพศ</th>
              <th scope="col">อายุ</th>
              <th scope="col">ระดับการศึกษา</th>
              <th scope="col">แผนกงานที่สังกัด</th>
            </tr>
          </thead>
          <tbody>
        {% for course in employees %}
            <tr>
              <td>{{ course.fname }}</td>
              <td>{{ course.lname }}</td>
              <td>{{ course.gender }}</td>
              <td>{{ course.age }}</td>
              <td>{{ course.elevel }}</td>
              <td>{{ course.department }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
